services:
  postgres:
    image: postgres:15
    container_name: psql-db
    restart: always
    environment:
      POSTGRES_DB: gestorventas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: backend-app
    restart: always
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/gestorventas
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      SERVER_PORT: 8080
    ports:
      - "8080:8080"

volumes:
  pgdata:
